app/asset/bundled.js.go
app/asset/bundled.css.go
app/asset/bundled.other.go
packages/entrepository/ent/*
!packages/entrepository/ent/schema
!packages/entrepository/ent/generate.go
public
private
tetua
test/*.txt
test/*.html
.vscode
.idea/
config.json
.gitignore
views/*.jade.go
my-golang-app.tar
deploy/
packages/editor/node_modules/
packages/editor/dist/