extends ../partials/layout.jade

block content
  :go:func ChangePassword ()
  .container
    .layout
      .left
      .main
        .box.login
          h1.text-center Enter a new password
          +Messages(meta.Messages)
          form(action="", method="post")
            p
              label.required Password
              input(type="password", name="password", placeholder="New password")
            p
              label.required Password confirmation
              input(type="password", name="passwordconfirmation", placeholder="New password confirmation")
            div
              button.btn.btn-primary(type="submit" style="background: #313131") Save
              | &nbsp;&nbsp;
      .right
